<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <img width="50%" alt="MA - Michael Alekseew - Logo" src="assets/MA-logo-transparent.png">
</div>

<h2>Under Construction</h2>
<lottie-animation-view [options]="lottieConfig" (animCreated)="handleAnimation($event)">
</lottie-animation-view>

<div id="player">
    <p>Speed: x{{ animationSpeed }}</p>
    <div class="range-container">
        <input #range type="range" value="1" min="0" max="3" step="0.5" (change)="setSpeed(range.value)">
    </div>
    <button (click)="stop()">Stop</button>
    <button (click)="pause()">Pause</button>
    <button (click)="play()">Play</button>
</div>

<router-outlet></router-outlet>
